/* --Configuraçoes do corpo do formulario-- */
.corpoFormulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 26px;
    background-color: rgb(231, 227, 227);
    border: 1px solid black;
    width: 66.5%;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 32px;
    margin: auto;

}

/* --Configuraçoes do titulo-- */
.corpoFormulario h3 {
    color: black;
    text-align: center;
    padding: 30px;
    font-size: xx-large;
}

/* --Configuraçoes do paragrafo-- */
.corpoFormulario p {
    margin: auto;
    color: #020202;
    padding: 0.5px;
    font-size: larger;
    text-align: center;

}

/* --Configuraçoes dos espaçamentos do corpo do formulario -- */
main form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
}

/* --Configuraçoes das areas nome/email/mensagem do formulario -- */
form label {
    color: #020202;
    font-size: 17px;
    margin-bottom: 4px;

}

/* --Configuraçoes dos dois pimeiros espaços de preenchimento do formulario-- */
form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: 0.5s;
}

/* --Configuraçoes utilizadas nos campos tipo imput do formulario-- */
form input:focus {
    border-radius: 16px;
}

/* --Configuraçoes do terceiro espaço de preenchimento do formulario-- */
form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 3 0px;
    transition: all 0.5s;
}

/* --Configuraçoes utilizadas nos campos tipo textearea formulario-- */
form textarea:focus {
    border-radius: 16px;
}

/* --Configuraçoes do botão "enviar"-- */
form button {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 1px solid #f5f5f5;
    color: #020202;
    transition: all 1s;
    margin-bottom: 20px;
    border-radius: 10px;
}