/*---------------------CONFIG GERAL CORPO-----------------------------------*/
main {
    width: 70%;
    height: 100%;
    background-color: rgb(231, 227, 227);
    border: 1px solid black;
    border-radius: 50px;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
/*---------------------CONFIG TITULOS-----------------------------------*/
main h3{
    color: black;
    text-align: center;
    padding: 30px;
    font-size: xx-large;
}
/*---------------------CONFIG PARAGRAFOS-----------------------------------*/
main p {
    margin: auto;
    color: black;
    text-align: center;
    padding: 30px;
    justify-content: center;
    font-size: larger;
    width: 800px;
}
/*---------------------CONFIG IMAGENS-----------------------------------*/
main img {
    padding: 30px;
    width: 50%;
    border-radius: 100px;
    margin: auto;
}