/* ------------------------------------------------ IMAGEM DA PIZZA DA PAGINA INICIAL */

.ImagemPizzaInicial{
    width: 100%;
    height: 15em;
}



/* ------------------------------------------------ PARTE DO MEIO DA PÁGINA 
SE ALTERAR ALGUMA COISA AVISE POR FAVOR*/

main{
    border: 2px solid rgb(101, 25, 25);
   
}
.quadroDeInformacoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    margin:70px 0px;

}


.horarioDeFuncionamento{
    border: 2px solid black;
    background-color: aliceblue;
    text-align: center;
    width: 30%;
}

ul{
    list-style: none;
}

.reservas{
    border: 2px solid black; 
    background-color: aliceblue;
    text-align:center;
    width: 30%;

 
}

h3 {
    text-align: center;
    border: 2px;
    background-color: rgb(224, 191, 58);
    height: 30px;
 
}

/*-------------------------------------------- Icones de imagens--*/

.icones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    margin:70px 0px;
   
}

.pizza{
    text-align:center;
    width: 13%;
  

}
.pizza h3{
    border: 1px solid rgb(22, 22, 26);
    font-size: 14px;
}

.pizza img{
    border: 1px solid black; 
    text-align: center;
    /* max-height:105px; */
    width: 100%;
 
}

