
/* ESTILO DO BODY, CABEÇALHO E RODAPÉ */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap');


/* --------------------------------------------------- BODY */
body{

    /* Efeito gradiente circular */
    background: radial-gradient(yellow, red);

}

/* --------------------------------------------------- CABEÇALHO */
header{
    height: 150px;      /* height é o unico com tamanho em pixel pra ser fixo */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1em;
}

.tituloPizzaria{
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 1em;
}

header nav {
    width: 70%;        /* em % para ser dinâmico/responsivo */
    height: 40%; 
    display:flex;
    align-items: center;
    justify-content: space-around;
}

header nav a{
    height: 90%;
    width: 100%;
    margin: .5rem;
    padding: .3rem;
    
    border: solid #ffffff55;
    border-width: 0 1px 0 1px;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: x-large;

    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    transition: .5s;
}
header nav a:hover{
    scale: 1.1;
}

/* --------------------------------------------------- RODAPÉ */
.finalDaPagina{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 4%;
}
.endereco{
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.whatsapp{
    display: flex;
    flex-direction: row;
    width: 50px;
    height:50px;
}
.endereco img {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
}