
/* ESTILO DO BODY, CABEÇALHO E RODAPÉ */



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap');


    /* font-family: Arial, Helvetica, sans-serif;   */
    /* font-family: 'Bebas Neue', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */



/* --------------------------------------------------- BODY 
SE ALTERAR ALGUMA COISA AVISE POR FAVOR
TODAS AS PÁGINAS VÃO USAR ESSA CONFIGURAÇÃO */

body{

    /* Efeito gradiente circular */
    background: radial-gradient(yellow, red);

    /* para alterar a altura do site */
    /* 100vh seria a altura disponivel da tela em 100%*/

    /* height: 200vh; */

}


/* --------------------------------------------------- CABEÇALHO 
SE ALTERAR ALGUMA COISA AVISE POR FAVOR
TODAS AS PÁGINAS VÃO USAR ESSA CONFIGURAÇÃO */

/* SE POSSIVEL NÃO MEXER, PQ ELE TÁ "RESPONSIVO" */

header{
    height: 150px;      /* height é o unico com tamanho em pixel pra ser fixo */
    display:flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    justify-content: space-around;
    margin: 1em;
}

.tituloPizzaria{

    /* adicionar efeito click */

    /* font-family: Arial, Helvetica, sans-serif;   */
    /* font-family: 'Bebas Neue', sans-serif; */
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 1em;

}

header nav {
    width: 70%;        /* em % para ser dinâmico/responsivo */
    height: 40%; 
    display:flex;
    align-items: center;
    justify-content: space-around;
}

header nav a{
    height: 90%;
    width: 100%;
    margin: .5rem;
    padding: .3rem;
    
    border: solid #ffffff55;
    border-width: 0 1px 0 1px;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: x-large;

    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    transition: .5s;

}
header nav a:hover{
    scale: 1.1;
}












/* ------------------------------------------------ codigo antigo do style.css 

ACREDITO QUE O GABE CONFIGUROU AQUI O STYLE DO MAIN DAS PÁGINAS DELE

        LEVEI LÁ PARA O pagInicial.css PARA TIRAR DAQUI

QUANDO ELE COPIAR AQUELE CODIGO, ELE APAGA DE LÁ*/


/* Observações:

    Dia 02/06/23
    Durante reunião para codar, vimos dificuldade em usar apenas um arquivo css para todas as páginas HTML, por isso separamos um css para cada página.
    Compartilhando apenas o reset.css e style.css (que tem o body, header e footer)

*/










/* --------------------------------------------------- RODAPÉ 
SE ALTERAR ALGUMA COISA AVISE POR FAVOR
TODAS AS PÁGINAS VÃO USAR ESSA CONFIGURAÇÃO */

/* SE POSSIVEL NÃO MEXER, PQ ELE TÁ "RESPONSIVO" */

footer{
    height: 50px;      /* height é o unico com tamanho em pixel pra ser fixo */
    margin: auto;
    padding: 10px 10px;        /* em % para ser dinâmico/responsivo */
    
    display:flex;
    align-items: center;
    justify-content: end;
}
footer p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.integrantesDaSquad{
    grid-template: 2fr 1fr;
    padding: 10px;
}

.logoRedesSocias{
    padding: 0;
    width: 30px;
    transition: .5s;
}

.logoRedesSocias:hover{
    scale: 1.1;
}
