

/* 
Esqueleto bem simples dos blocos de conteúdo
para vizualizar as dimensões e tamanhos dos blocos
baseado no template feito no canvas 
*/

body{

    /* Efeito gradiente circular */
    /* background: radial-gradient(yellow, red); */

    /* para alterar a altura do site */
    /* 100vh seria a altura disponivel da tela em 100%*/
    height: 200vh;

}


/* 
Atenção nas porcentagens das alturas (heigth)
A soma deles tem q dar 100% pra ficar bem disposto
*/


/*------------------------------------------------- IMAGEM DA PIZZA DA QUEM SOMOS / INICIAL
SE ALTERAR ALGUMA COISA AVISE POR FAVOR - PORÉM ISSO SÓ VAI SER USADO NA INICIAL*/

.imagemPizza{

    height: 15em;
}
.imagemPizza img{
    /* height: 100%; */
    /* max-width:1000px; */
    /* max-height: 15em; */
    width: 100%;
    height: 100%;
}

.tituloPizzaria{
    /* border: solid blue; */
    height: 10%;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}



/*-------------------------------------------------------------------------- CABEÇALHO 
SE ALTERAR ALGUMA COISA AVISE POR FAVOR - TODAS AS PÁGINAS VÃO USAR ESSA CONFIGURAÇÃO*/

header{
    /* border: solid red; */
    height: 10%;
    display:flex;
    text-align: center;
    justify-content: space-around;
}

header nav {
    /* height: 10%; */
    width: 100%;
    /* border: solid red; */
    display:flex;
    text-align: center;
    justify-content: space-around;
}







/*--------------------------------------------------------------- PARTE DO MEIO DA PÁGINA 
SE ALTERAR ALGUMA COISA AVISE POR FAVOR - TODAS AS PÁGINAS VÃO USAR ESSA CONFIGURAÇÃO*/

main{
    border: solid yellow;
    height: 55%;
}







/*-------------------------------------------------------------------------- RODAPÉ 
SE ALTERAR ALGUMA COISA AVISE POR FAVOR - TODAS AS PÁGINAS VÃO USAR ESSA CONFIGURAÇÃO*/
footer{
    border: solid blue;
    height: 10%;
}

